{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<body class="d-flex flex-column">
    <div class="page page-center">
        <div class="container-tight py-4">
            <form class="card card-md" method="post">
                <div class="card-body">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}
                    <h1 class="h1 text-center mb-4">TimeVue Login</h1>
                    <div class="mb-3">

                        <label class="form-label" for="inputEmail">eMail</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                    </div>
                    <div class="mb-2">

                        <label class="form-label" for="inputPassword">Passwort</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                    </div>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                    <div class="form-footer">
                        <button type="submit" class="btn btn-primary w-100">Anmelden</button>
                    </div>
                </div>
            </form>
            <!--<div class="text-center text-muted mt-3">
                Don't have account yet? <a href="./sign-up.html" tabindex="-1">Sign up</a>
            </div>-->
        </div>
    </div>
</body>
{% endblock %}
